<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

    <link rel="stylesheet" th:href="@{/listasAE.css}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Spectral+SC:wght@200&display=swap" rel="stylesheet">
    <title>Document</title>
</head>

<body>


<header th:replace="VisualComponents/vc1 :: barraNavegacion"></header>


    <main>

        <section class="infoautor">
            <div class="tabla">

                <h3 class="fuentes">AUTORES</h3>
                <table class="table fuentes">
                    <thead>
                        <tr>
                           <th scope="col" >id </th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Acciones</th>
                           
                        </tr>
                    </thead>
                    <tbody th:each="autor : ${autores}">
                        <tr>
                            <th scope="row" th:text="${autor.id}"></th>  
                            <td th:text="${autor.nombre}"></td>
                            <td>
                                <a th:href="@{/autor/modificar/__${autor.id}__}"><i class="bi bi-pencil-square" th:value="${autor.id}" id="modifAutor"></i></a>
                                <a th:href="@{/autor/eliminar/__${autor.id}__}"><i class="bi bi-trash" th:value="${autor.id}"></i></a>
                                </td>
                            
                            
                        </tr>
                        
                    </tbody>
                </table>
                <button type="button" class="btn btn-outline-dark" id="addAutor" th:value="${valorPrueba}" name="valorPrueba" th:onclick="#{valorPrueba}">Agregar Autor</button>
                    <!--FORMULARIO DE CREACION DE AUTOR-->
                <div th:replace="VisualComponents/vc1 :: cartasMensaje"></div>
            <div>
            <form th:action="@{/autor/registro}" method="POST" id="busquedaAutor" class="oculto">
            <div>
              <p class="fuentes">Nombre del Autor</p>
              <input type="text" name="nombre">
            </div>
              <button class="fuentes" type="submit">Guardar</button>
            </form>
        </div>
            </div>
            
            
            
            




            
            
            
            
            
            
        </section>

        



    </main>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
        crossorigin="anonymous"></script>
    <script type="text/javascript" th:src="@{/script1.js}"></script>
  
</body>

</html>