<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/login.css}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Meie+Script&display=swap" rel="stylesheet">
    <title>Log In</title>
</head>

<body>

<header>
    <img th:src="@{/img/logo.png}" alt="">
    <h1>Log In</h1>
</header>
<main>
    <section class="form-section">
        <form method="post" th:action="@{/logProcess}">
            <label for="username">Username</label>
            <input type="text" name="username" id="username">
            <hr>
            <br>
            <label for="password">Password</label>
            <input type="password" name="password" id="password">
            <hr>
            <br>
            <button type="submit" class="hve-grow hvr-fade"> Log In</button>

        </form>
    </section>

</main>

</body>

</html>