<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

    <link rel="stylesheet" th:href="@{/listasAE.css}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Spectral+SC:wght@200&display=swap" rel="stylesheet">
    <title>Document</title>
</head>

<body>


<header th:replace="VisualComponents/vc1 :: barraNavegacion"></header>

<main>


    <
    <div class="libroForm">
        <h3 class="fuentes">Modificar Pedido</h3>
        <form th:action="@{/pedido/modificarPedido/__${pedido.id}__}" method="POST">

            <div class="mb-3">
                <label for="nombre">Nombre del Cliente</label>
                <input type="text" class="form-control" th:value="${pedido.cliente.nombre}" id="nombre"
                       aria-describedby="emailHelp" placeholder="Nombre" name="nombreCliente">

            </div>
            <div class="mb-3">
                <label for="apellido">Apellido del Cliente</label>
                <input type="text" class="form-control" th:value="${pedido.cliente.apellido}" id="apellido"
                       aria-describedby="emailHelp" placeholder="Apellido" name="apellidoCliente">

            </div>


            <div>
                <label>Seleccionar Libro</label>
                <select class="form-select" aria-label="Default select example" name="isbn">
                    <option selected th:text="${pedido.libro.titulo}" th:value="${pedido.libro.isbn}"></option>
                    <option th:each="libro : ${libros}"
                            th:value="${libro.isbn}"
                            th:text="${libro.titulo}"/>
                </select>
            </div>


            <div>
                <label>Seleccionar Cafe</label>
                <select class="form-select" aria-label="Default select example" name="idCafe">
                    <option selected th:text="${pedido.cafe.nombre}" th:value="${pedido.cafe.id}"></option>
                    <option th:each="cafe : ${cafes}"
                            th:value="${cafe.id}"
                            th:text="${cafe.nombre}"/>
                </select>
            </div>

            <div>
                <label>Seleccionar Mesa</label>
                <select class="form-select" aria-label="Default select example" name="idMesa">
                    <option selected th:text="${pedido.mesa.numero}" th:value="${pedido.mesa.numero}"></option>

                    <option th:each="mesa : ${mesas}"
                            th:value="${mesa.numero}"
                            th:text="${mesa.numero}"/>
                </select>

            </div>


            <div class="d-grid gap-2 col-6 mx-auto">
                <button class="btn btn-primary fuentes" type="submit">Guardar</button>
            </div>


        </form>


        <!-- Container de las cards-->


    </div>


</main>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
        crossorigin="anonymous"></script>
</body>

</html>