<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

</head>
<body>

<header th:fragment="barraNavegacion">
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
            <a class="navbar-brand fuentes" href="#">ALEXANDRIA</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" th:href="@{/home}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/libro/libroinit}">Books</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/autor/autoresInicio}">Autors</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/editorial/listaeditorial}">Editoriales</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/cafe/cafeinit}">Coffe</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/pedido/pedidoinit}">Orders</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/mesa/mesainit}">Table</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/cliente/clienteinit}">Client</a>
                    </li>

                </ul>
                <form th:action="@{/logout}" method="POST">
                    <button class="btn btn-outline-danger" type="submit" value="Logout">Logout</button>
                </form>

            </div>
        </div>
    </nav>
</header>


<div class="cartas" th:fragment="cartasMensaje">
    <div th:if="${msjExito != null}" class="ccard border-success mb-3" style="max-width: 18rem;">
        <div class="card-header">Header</div>
        <div class="card-body">
            <h5 class="card-title">Success card title</h5>
            <p class="" th:text="${msjExito}"></p>
        </div>
    </div>

    <div th:if="${msjError != null}" class="card border-danger mb-3" style="max-width: 18rem;">
        <div class="card-header">Error</div>
        <div class="card-body">
            <p class="" th:text="${msjError}"></p>

        </div>
    </div>
</div>


</body>
</html>